[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/AustinLynes/imgui.git
	branch = docking
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/AustinLynes/GLFW
[submodule "Dependencies/implot"]
	path = Dependencies/implot
	url = https://github.com/epezent/implot
